main{
    margin-top: 7rem;
    margin-bottom: 3rem;

}

p{
    font-size: 1.5rem;
}

form{
    margin-top: 3rem;
    margin-bottom: 3rem;
    font-size: 1.2rem;
}

legend{
    padding-left: 2rem;
    font-size: 2rem;
    
}

input[type="text"]{
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: rgb(75,61,112) solid ;
    outline: none;
    width: 330px;
    margin: 0 0 1rem 0 ; 

    color: rgb(75, 61, 112); 
    background-color: RGBA(144, 137, 160, 1);

    border-radius: 2%;  
}

input[placeholder]{
    padding-left: 5px;
    color: rgb(222, 222, 222);
}

p, legend{
    color: rgb(75, 61, 112);
}
.options{
    color: rgb(75, 61, 112)
}
input[type="radio"]{
    margin-right: 10px;  
}

textarea{
    border-top: none;
    border-left: none;
    border-right: rgb(75,61,112) solid ;
    border-bottom: rgb(75,61,112) solid ;
    outline: none;

    resize: vertical;
    
    width: 355px;
    
    margin-bottom: 1rem;

    background-color: rgba(144, 137, 160, 1);
}

textarea{
    color: rgb(222, 222, 222);
}

input[type="submit"]{
    font-size: 1.5rem;
    
    color: rgb(222, 222, 222);
    background-color: rgba(100,81,148,1);
    border-radius: .2rem;
    
    margin: 2rem;
    padding: .5rem 1rem ;
}

input[type="submit"]:hover{
    color: rgb(103, 252, 83);
    margin-left: auto;
    margin-right: auto;
}




/*************************************************/
/*************************************************/
.form{
    max-width: 450px;
    margin: 0 auto;
}


.textInput{
    width: 100%;
}

.options{
    padding-left: 3rem;
    margin: 0;
    margin-top: 10px;
}

.para-Opt{
    margin: 0;
    padding: 0;
}

.comment{
    display:inline;
}

.textArea{
    color: rgb(75, 61, 112)
}

#form{
    margin: 0 1re;
}

form .fas{
    color: rgb(75, 61, 112) ;
    height: 20px;
    width: 20px;
}

/*
input::placeholder{
    color: rgb(75,61,112);
}

textarea::-webkit-input-placeholder,
textarea[placeholder]{
    color: rgb(75, 61, 112);
    font-weight: 500;
}*/

::placeholder{
    color: rgb(75,61,112);
}
/***********************************/
/**********MediaQueries*************/
/***********************************
    SASS
    @include media-breakpoint-up(xs) { ... }
    @include media-breakpoint-up(sm) { ... }
    @include media-breakpoint-up(md) { ... }
    @include media-breakpoint-up(lg) { ... }
    @include media-breakpoint-up(xl) { ... }

    // Small devices (landscape phones, 576px and up)
    @media (min-width: 576px) { ... }

    // Medium devices (tablets, 768px and up)
    @media (min-width: 768px) { ... }

    // Large devices (desktops, 992px and up)
    @media (min-width: 992px) { ... }

    // Extra large devices (large desktops, 1200px and up)
    @media (min-width: 1200px) { ... }

*****************************************/
@media (min-width: 300px) and (max-width: 450px) { 

   

    input[type="text"]{
        width: 90%;
    }
    

    textarea{
        margin: 0;
        width: 98%;
        
    }

    section .row{
        padding: 0 15px;
    }

    form{
        max-width: 370px;
        margin: .5rem auto;
    }

    section p{
        width: 320px;
        margin: .5rem auto ;
    }

}
/*

@media (min-height: 1024){
    body{
        height: 100%;
        padding-bottom: 163px;
    }

    footer{
        position: relative;
        bottom: 0;
        
    }

}*/