* {
    box-sizing: border-box;
    color: white;
}

.hero {
    display: flex;
    flex-direction: column;
}

.hero-container {
    width: 50%;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 0;
    margin-right: auto;
}

/*.hero-image {
    clip: rect(0px, 512px, 0px, 0px);
}*/


/** START Marqueee setting **/
.tech-mask {
    overflow: hidden;
    mask-image: linear-gradient(to right, transparent, rgb(33, 37, 41) 5%, rgb(33, 37, 41) 95%, transparent);
    -webkit-mask-image: linear-gradient(to right, transparent, rgb(33, 37, 41) 5%, rgb(33, 37, 41) 95%, transparent);

}

.tech-track {
    display: flex;
    flex-direction: row;
    padding-left: -100%; /* This offsets the starting point */
    animation: marquee-animation 14s linear infinite;
}

.tech-list {
    white-space: nowrap;
}
/** END Marqueee setting **/

.card-container h5,
.card-container p {
    color: black;
}

/********************************************/
@keyframes marquee-animation {
    from {}
    to {
        /*transform: translateX(-25%);*/
        transform: translateX( calc(-48% - 0.5rem));
    }
}

@media screen and (max-width: 768px) {

    .hero-container {
        width: 100%;
    }

    .hero-container h2 {
        text-align: center;
    }

    .hero {
        flex-direction: column-reverse;
        flex-wrap: nowrap;
    }


    .hero-image image {
        /*max-height: 10%;*/
        width: 100%;
        height: fit-content;
        margin-top: auto;
        margin-bottom: auto;
        margin-left: auto;
        margin-right: auto;
    }

    .card-container {
        display: flex;
        width: 18rem;
        
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;

        background-color: rgb(255, 255, 255);
        color: rgb(33, 37, 41);
    }
    
    .card-container img {
        width: 100%;
        height: 50%;
        object-fit: cover;
    }
    
    .card-container .card-body {
        width: 50%;
    }
}

@media screen and (min-width: 769px) {
    .hero {
        flex-direction: row;
        flex-wrap: nowrap;
    }

    .hero-image image {
        /*max-height: 10%;*/
        height: 50%;
        margin-left: 1rem;
    }

    .hero-text {
        font-size: 1.2rem;
    }
    .hero-image {
        max-height: 75%;
        max-width: 45%;
    }

    .card-container {
        width: 45%;
        margin-left: auto;
        margin-right: auto;
    
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        background-color: rgb(255, 255, 255);
        color: rgb(33, 37, 41);
    }

    .card-container img {
        width: 45%;
        height: 100%s;
        object-fit: cover;
    }
}

/** Pallet Color **/
.pallet {

    color: #ebe9e9;
    color: #c5c0c1;
    color: #a2999a;
    color: #7f7374;
    color: #5a5152;
    color: #373132;
    color: #171415;

    /** Pallet 2 ***/
    color: #01161E;
    color: #124559;
    color: #598392;
}

/** **/