* {
    box-sizing: border-box;
}

.hero {
    display: flex;
    flex-direction: column;
}



.tech-mask {
    overflow: hidden;
    mask-image: linear-gradient(to right, transparent, rgb(33, 37, 41) 5%, rgb(33, 37, 41) 95%, transparent);
    -webkit-mask-image: linear-gradient(to right, transparent, rgb(33, 37, 41) 5%, rgb(33, 37, 41) 95%, transparent);

}

.tech-track {
    display: inline-block;
    padding-left: -100%; /* This offsets the starting point */
    animation: marquee-animation 5s linear infinite;
}

.tech-list {
    white-space: nowrap;
}


@keyframes marquee-animation {
    from {}
    to {
        transform: translateX(-25%);
    }
}

@media screen and (max-width: 768px) {
    .hero {
        flex-direction: column-reverse;
        flex-wrap: nowrap;
    }


    .hero-image {
        /*max-height: 10%;*/
        max-width: 45%;
        margin-left: auto;
        margin-right: auto;
    }

    .card-container {
        display: flex;
        width: 18rem;
        
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;

        background-color: rgb(255, 255, 255);
        color: rgb(33, 37, 41);
    }
    
    .card-container img {
        width: 100%;
        height: 50%;
        object-fit: cover;
    }
    
    .card-container .card-body {
        width: 50%;
    }
}

@media screen and (min-width: 769px) {
    .hero {
        flex-direction: row;
        flex-wrap: nowrap;
    }

    .hero-image {
        /*max-height: 10%;*/
        max-width: 45%;
        margin-left: 1rem;
    }

    .hero-text {
        font-size: 1.2rem;
    }
    .hero-image {
        max-height: 75%;
    }

    .card-container {
        width: 45%;
        margin-left: auto;
        margin-right: auto;
    
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        background-color: rgb(255, 255, 255);
        color: rgb(33, 37, 41);
    }

    .card-container img {
        width: 45%;
        height: 100%s;
        object-fit: cover;
    }
}
