* {
    box-sizing: border-box;
}
@media screen and (max-width: 768px) {
    .hero-image {
        max-height: 10%;
    }
}

@media screen and (min-width: 769px) {
    .hero-text {
        font-size: 1.2rem;
    }
    .hero-image {
        max-height: 75%;
    }
}