@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;1,100;1,200&display=swap');

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
    color: rgb(238, 229, 229);
}

a {
    text-decoration: none;
    color: white;
}

ul li {
    list-style-type: none;
}

h1 {
    font-size: 3.6rem;
    text-align: center;
}

h2 {
    font-size: 2.3rem;
}

h3 {
    font-size: clamp(1.2rem, 1.9rem, 1.9rem);
}

main {
    z-index: -1;
    background-color: rgb(43, 43, 43);
}

main:last-child {
    margin-bottom: 0;
}

main section {
    min-height: 100vh;
    display: flex;
    flex-flow: column nowrap;
    align-content: center;
    justify-content: space-around;
    border-bottom: .1rem solid red;
}

section h2 {
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 3rem;
}

section.intro  {
    /*width: clamp(10px, 80%, 90% );*/
    margin-top: auto;
    margin-bottom: auto;
    text-align: center;
    justify-content: space-between;
}

/*section h2,
section.intro .name {
    font-size: clamp(2rem, 7vh, 10vh);
}*/

section.intro .intro-text-container {
    /*width: clamp(100%, 80%, 70%);*/
}

section.intro .name {
    width: 100%;
    /*text-decoration: underline   rgb(17, 156, 17);
    margin-bottom: 0;
    line-height: 3.6rem;*/
}

section.intro .name h1 {
    margin-top: 1rem;
    margin-bottom: 0;
}
/*
.overlap {
    position: absolute;
}

.overlap span:first-child {
    color: green;
    z-index: 1;
}

.overlap span:nth-child(2) {
    z-index: 2;
    position: relative;
    left: -50%;
    transform: translate(-50%);
}

.overlap span:nth-child(3) {
    margin-left: 1rem;
}
*/
.underline {
    width: 100%;
    height: .5rem;
    background-color:  rgb(17, 156, 17);
    margin-left: auto;
    margin-right: auto;
    line-height: .1rem;
}

/*
section.intro .level {
    height: auto;
    display: inline-flex;
    flex-direction: row;
    position: relative;
    overflow: hidden;
    margin: 0;
    letter-spacing: .5rem;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    flex-wrap: nowrap;
    font-size: .5rem;
}

section.intro .level:first-child {
    text-align: right;
}

section.intro .level:last-child {
    text-align: left;
}

section.intro .level ul.tech-list {
    text-align: center;
    display: inline-flex;
    flex-direction: column;
    width: 100%;
    height: 1rem;
    position: absolute;
    top: 0;
    padding: 0 .8rem;
    animation-name: trans;
    animation-duration: 20s;
    animation-iteration-count: infinite;
}

section.intro  .level ul.tech-list li {
    margin-top: auto;
    margin-bottom: auto;
    height: 2rem;
    text-align: center;
}
*/
/*
@keyframes trans {
    0%, 24%{transform:translateY(-50%)}
    25%, 49% {transform:translateY(-100%)}
    50%, 74% {transform:translateY(-150%)}
    75%, 99% {transform:translateY(-200%)}
    66.64%,81.30% {transform:translateY(-700%)}
    83.30%,97.96% {transform:translateY(0%)}
}*/

section.intro .level {
    margin-top: .2rem;
}

section.intro  p.text-content {
    margin-top: 4rem;
    margin-left: 1rem;
    margin-right: 1rem;
    line-height: 1.8rem;
}

section.intro a.download-cv {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    padding: 1.8rem 2.5rem;
    font-size: 1.8rem;
    border-radius: .3rem;
    background-color: rgb(17, 156, 17);
    text-align: center;
}

section.intro a.download-cv:hover {
    background-color: rgb(10, 240, 60);
    font-size: scale(1.2);
}

section.intro .link-wrapper,
.card .card-body .card-button-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 30vh;
}

section.intro .link-wrapper a,
.card .card-body .card-button-container a.button {
    text-align: center;
}

section.intro .link-wrapper a span{
    display: block;
    text-align: center;
    font-size: 2rem;
}

/*
section.intro .link-wrapper {
    bottom: 10vh;
    margin-bottom: 2rem;
}*/

section.intro .link-wrapper a,
.card .card-button-container a {
    color: #eae4f1;
    font-weight: 300;
}

section.intro .link-wrapper a:hover,
.card .card-body .card-button-container a.button:hover {
    color: rgb(10, 240, 60);;
}

section.portfolio .cards-container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.card {
    width: 90%;
    height: 100vh;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;

    margin-left: auto;
    margin-right: auto;
    border: 0;
    padding-top: 1rem;
    paddin-bottom: 1rem;
}

.card h3 {
    font-size: 3rem;
}

.card h3::first-letter {
    text-transform: uppercase;
}

.card .card-img {
    display: block;
    background-color: #bbb;
    color: black;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;
}

.card .card-body p.card-text {
    margin: 1rem .5rem;
    font-size: 1.2rem;
}

.card .card-body .card-button-container a.button {
    margin: .2rem .5rem;
    font-size: 2rem;
}

.card .card-body .card-button-container a i.fab,
.card .card-body .card-button-container a i.fas,
.card .card-body .card-button-container a span {
    display: block;
    margin-top: 1rem;
}

.card .card-body .card-button-container a i.fab,
.card .card-body .card-button-container a i.fas {
    font-size: 5rem;
}

.card .card-body .card-button-container a span {
    font-size: 2rem;
}

@media (max-width: 300px){

    section.intro  {
        top: 10vh;
    }
    
    section.intro .link-wrapper {
        bottom: 10vh;
    }
}

@media (max-width: 576px){

    section.intro  {
        top: 20vh;
    }

    form button {
        width: 90%;

        margin-top: 3rem;
        margin-bottom: 1rem;
    }
}


@media (max-width: 769px) {

    header .brand {
        font-size: 1.8rem;
    }

    .nav-link {
        text-align: center;
        font-size: 1.5rem;
    }

}

@media (min-width: 768px) {
    section.contact form {
        width: 500px;
    }
}

@media (min-width: 992px) {


    header nav {
        width: 1200px;
        margin-left: .5rem;
        margin-right: .5rem;
    }

    header nav a.brand {
        margin-left: .5rem;
    }

    header nav ul {
        margin-right: .5rem;
    }
}

/*
// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }
// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { ... }
// Large devices (desktops, 992px and up)
@media (min-width: 992px) { ... }
// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) { ... }
*/